<app-header color="primary" title="Login"></app-header>

<ion-content>
  <div class="container">
    <div class="d-flex-center">
      <form [formGroup]="form" (ngSubmit)="submit()" (keyup.enter)="submit()">
        <!-- ======== EMAIL ========= -->
        <app-custom-input
          autocomplete="email"
          [control]="form.controls.email"
          type="email"  
          icon="mail-outline"
        ></app-custom-input>
        <div *ngIf="form.controls.email.errors && form.controls.email.touched">
          <ion-text color="danger" *ngIf="form.get('email')?.hasError('email')"
            >Insira um email válido!</ion-text
          >
          <ion-text
            color="danger"
            *ngIf="form.controls.email.errors?.['required']"
            >Esse campo é obrigatório!</ion-text
          >
        </div>

        <!-- ======= SENHA ====== -->
        <app-custom-input
          type="password"
          [control]="form.controls.password"
          icon="lock-closed-outline"
        ></app-custom-input>
        <div
          *ngIf="form.controls.password.errors && form.controls.password.touched"
        >
          <ion-text
            color="danger"
            *ngIf="form.controls.password.errors?.['required']"
          >
            Esse campo é obrigatório!
          </ion-text>
          <ion-text
            color="danger"
            *ngIf="form.controls.password.errors?.['minlength']"
          >
            A senha deve ter pelo menos 8 caracteres
          </ion-text>
        </div>

        <!-- ========== BUTTON ========= -->
        <ion-button
          (click)="submit()"
          [disabled]="form.invalid"
          expand="block"
          shape="round"
        >
          ENTRAR
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
