<ion-content [fullscreen]="true">
  <app-header title="Catálogo"></app-header>

  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ion-searchbar
            mode="ios"
            type="text"
            autocorrect="on"
            placeholder="Pesquisar"
            [debounce]="250"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="4">
          <ion-select mode="md" shape="round" fill="outline" [value]="parts[0]">
            <ion-select-option *ngFor="let part of parts"
              >{{part}}</ion-select-option
            >
          </ion-select></ion-col
        >
        <ion-col size="4">
          <ion-button expand="block" shape="round">
            <ion-icon name="search-outline"></ion-icon>
            Buscar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
